#title {
	text-align:		center;
}
h1 {
	font-size:		12vmin;
	margin-top:		2em;
	margin-bottom:		0.5em;
}
section {
	overflow-x:		hidden !important;
	overflow-y:		auto !important;
	font-size:		3.5vmin;
}
ul {
	list-style:		outside;
	margin-left:		2vw;
}
