#header {
	display:		none;
}
#presenter-selector {
	display:		none;
}
.tags {
	display:		none;
}
#menu {
	display:		none;
}
#metadata {
	padding-top:		2em;
	font-size:		smaller;
}
#parsing-time {
	display:		none;
}
#footer {
	display:		none;
}
.edit-section a {
	display:		none;
}
.present {
	display:		none;
}
