#presenter-selector {
	font-size:		10pt;
	text-align:		right;
}
.course {
	font-size:		smaller;
}
.course + .author {
	margin-top:		1em;
}
.author + .affiliation {
	margin-top:		0.5em;
}
.affiliation {
	font-size:		smaller;
}
.affiliation + .affiliation {
	margin-top:		0.5em;
}
.keywords {
	font-size:		0.5em;
}
.present {
	display:		none;
}
/* https://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/ */
blockquote {
	margin-left:		1.7em;
}
blockquote:before {
	left:			-0.55em;
	top:			-0.35em;
}
