#presenter-selector {
	font-size:		10pt;
	text-align:		right;
}
.course {
	font-size:		smaller;
}
.course + .author {
	margin-top:		1em;
}
.author + .affiliation {
	margin-top:		0.5em;
}
.affiliation {
	font-size:		smaller;
}
.affiliation + .affiliation {
	margin-top:		0.5em;
}
.present {
	display:		none;
}
