#site-description {
	white-space:		nowrap;
}
#top-menu {
	white-space:		nowrap;
	text-align:		right;
	font-size:		smaller;
}
#top-menu a {
	display:		inline-block;
	text-align:		center;
	border-radius:		5px 5px 0 0;
	padding:		2px 5px;
	color:			darkgreen;
	background:		#bbbbbb;
	border:			1px solid #aaaaaa;
	border-bottom:		none;
}
#top-menu a:hover {
	background:		#dddddd;
}
#top-menu .active {
	background:		white;
}
#presenter-selector {
	font-size:		10pt;
	text-align:		right;
}
.course {
	font-size:		smaller;
}
.course + .author {
	margin-top:		1em;
}
.author + .affiliation {
	margin-top:		0.5em;
}
.affiliation {
	font-size:		smaller;
}
.affiliation + .affiliation {
	margin-top:		0.5em;
}
.keywords {
	text-align:		right;
}
.keywords b {
	font-weight:		normal;
}
.present {
	display:		none;
}
.homework, .discussion, .exercises, .exercise, .home-exercise {
	vertical-align:		super;
	font-size:		0.8em;
}
.homework, .discussion, .quiz, .exam {
	color:			red;
}
.exercises, .exercise {
	color:			gray;
}
.home-exercise {
	color:			purple;
}
body {
	counter-reset:		lecture homework discussion exercise home-exercise quiz;
}
.lecture > span, .homework > span, .discussion > span, .exercise > span, .home-exercise > span, .quiz > span, .exam > span {
	display:		none;
}
.lecture::after {
	counter-increment:	lecture;
	content:		' ' counter(lecture) ':';
}
.homework::after {
	counter-increment:	homework;
	content:		' ' counter(homework) ':';
}
.discussion::after {
	counter-increment:	discussion;
	content:		' ' counter(discussion) ':';
}
.exercise::after {
	counter-increment:	exercise;
	content:		' ' counter(exercise) ':';
}
.home-exercise::after {
	counter-increment:	home-exercise;
	content:		' ' counter(home-exercise) ':';
}
.quiz::after {
	counter-increment:	quiz;
	content:		' ' counter(quiz);
}
/* https://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/ */
blockquote {
	margin-left:		1.7em;
}
blockquote::before {
	left:			-0.55em;
	top:			-0.35em;
}
