.reveal .slides {
	font-size:		3.5vmin;
}
.reveal .slides pre code {
	max-height:		800px;
}
.reveal .slides section p {
	margin-top:		1em;
}
.reveal .slides section img {
	border:			0;
}
.reveal .slides section h1 {
	margin-bottom:		0.5em;
}
.reveal .slides section .ps-line {
	text-align:		left;
	margin-bottom:		0;
}
.reveal .slides section .MathJax_Display {
	margin-top:		0.5em;
}
