.reveal .slides {
	font-size:		3.5vmin;
}
.reveal .slides section pre code {
	max-height:		800px;
}
.reveal .slides section p {
	margin-top:		1em;
}
.reveal .slides section div > p:first-child {
	margin-top:		0em;
}
.reveal .slides section img {
	border:			0;
}
.reveal .slides section h1 {
	margin-bottom:		0.5em;
}
.reveal .slides section .ps-line {
	text-align:		left;
	margin-bottom:		0;
}
.reveal .slides section .MathJax_Display {
	margin-top:		0.5em;
}
.reveal .slides section table {
	border-collapse:	collapse;
	border-top:		1px solid black;
	border-bottom:		1px solid black;
}
.reveal .slides section table caption {
	text-align:		left;
	font-size:		smaller;
}
.reveal .slides section table thead {
	border-bottom:		1px solid black;
}
.reveal .slides section table th {
	border:			none;
	padding:		0.3em;
}
.reveal .slides section table td {
	border:			none;
	padding:		0.3em;
	word-break:		break-all;
}
