.reveal .selector-on-title {
	border-radius:		5px;
	padding:		2px;
	color:			black;
	background-color:	#ffffffaa;
}
.reveal .selector-on-title a {
	color:			black;
}
.reveal #title, .reveal #title h1, .reveal #title .course a {
	color:			white;
}
