.reveal .slides {
	font-size:		3.5vmin;
}
.reveal .slides section pre code {
	max-height:		800px;
}
.reveal .slides section p {
	margin-top:		1em;
}
.reveal .slides section div > p:first-child {
	margin-top:		0em;
}
.reveal .slides section img {
	border:			0;
}
.reveal .slides section h1 {
	margin-bottom:		0.5em;
}
.reveal .slides section .ps-line {
	text-align:		left;
	margin-bottom:		0;
}
.reveal .slides section .MathJax_Display {
	margin-top:		0.5em;
}
.reveal .slides section table {
	border-collapse:	collapse;
	border-top:		1px solid black;
	border-bottom:		1px solid black;
}
.reveal .slides section table caption {
	text-align:		left;
	font-size:		smaller;
}
.reveal .slides section table thead {
	border-bottom:		1px solid black;
}
.reveal .slides section table tr {
	vertical-align:		top;
}
.reveal .slides section table th {
	border:			none;
	padding:		0.3em;
}
.reveal .slides section table td {
	border:			none;
	padding:		0.3em;
}
.reveal .slides section .text-left {
	text-align:		left;
}
.reveal .slides section .text-center {
	text-align:		center;
}
.reveal .slides section .text-right {
	text-align:		right;
}
.reveal .slides section blockquote {
	background:		none;
	box-shadow:		none;
}
.reveal .slides section ol ol {
	list-style-type:	lower-alpha;
}
.reveal .slides section ol ol ol {
	list-style-type:	lower-roman;
}
.reveal .slides section:not(#title) {
	text-align:		left;
}
.reveal .slides section h1,
.reveal .slides section h2,
.reveal .slides section h3,
.reveal .slides section h4,
.reveal .slides section h5,
.reveal .slides section h6 {
	text-align:		center;
}
