#top {
	display:		none;
}
.tags {
	display:		none;
}
#title h1 {
	text-shadow:		5px 5px 10px black;
}
#title {
	text-shadow:		5px 5px 10px black;
}
#title .course {
	font-size:		smaller;
}
#title .course + .author {
	margin-top:		1em;
}
#title .author + .affiliation {
	margin-top:		0.5em;
}
#title .affiliation {
	font-size:		smaller;
}
#title .affiliation + .affiliation {
	margin-top:		0.5em;
}
#course-selector, #presenter-selector {
	font-size:		10pt;
	position:		absolute;
	z-index:		9999;
	pointer-events:		auto;
	border-radius:		5px;
	padding:		2px;
	color:			black;
	background-color:	#ffffffaa;
}
#presenter-selector {
	right:			0px;
}
#course-selector a, #presenter-selector a {
	color:			black;
	line-height:		1em;
}
.read {
	display:		none;
}
.section-number {
	display:		none;
}
.edit-section a {
	display:		none;
}
#toc {
	display:		none;
}
#menu {
	display:		none;
}
#metadata {
	display:		none;
}
#bottom {
	display:		none;
}
/*
.scrollable {
	overflow-x:		hidden !important;
	overflow-y:		auto !important;
	height:			600px;
}
*/
table {
	border-collapse:	collapse;
	border-top:		1px solid black;
	border-bottom:		1px solid black;
}
table caption {
	text-align:		left;
	font-size:		smaller;
}
table thead {
	border-bottom:		1px solid black;
}
table th {
	text-align:		left;
	padding:		0.3em;
}
table td {
	text-align:		left;
	padding:		0.3em;
	word-break:		break-all;
}
